# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
venv/
env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/
